<body>
    <div class="instagram-wrapper">
        <div class="phone-background">
            <div class="instagram-phone">
                <img src="assets/img-insta/interno.png" class="imagem-fundo" alt="Celular">
            </div>
        </div>
        <div class="instagram-continue">
            <div class="group">
                <img src="assets/img-insta/instagram-logo.png" class="instagram-logo" alt="Logo Do Instagram">
                <div class="profile-photo">
                    <img src="assets/img-insta/perfil-chris.jpg" alt="Foto perfil">
                </div>
                <a href="#" class="instagram-login">Continue como Christian Zafalon</a>
                <a href="#" class="instagram-logout">Remover conta</a>
            </div>
            <div class="group">
                <p class="not-account">Não é Christian Zafalon?</p>
                <p class="nota-ccount">
                    <span class="link-blue">Alternar Contas</span>
                    ou
                    <span class="link-blue">Inscreva-se</span>
                </p>
            </div>
            <div class="get-the-app">
                <p class="get-app">Baixe o aplicativo</p>
                <div class="download">
                    <a href="#" class="app-download"></a>
                    <a href="# " class="app-download"></a>
                </div>
            </div>
        </div>
    </div>
</body>